.app-footer {
    background: var(--text-color);
    color: var(--bg-color);
    padding: 2rem 5%;
    text-align: center;
}

.footer-links {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: auto;
    gap: 2rem;
    margin: 3rem auto 0 auto;
}

.footer-links a::after {
    background-color: var(--bg-color);
}

/* ============================================================================================
TABLET VERSION
=============================================================================================== */

@media screen and (min-width: 768px) {

    .footer-links {
        flex-direction: row;
        gap: 4rem;
    }
}