.avatar {
    border: 2px solid var(--color-primary);
    border-radius: 50%;
    aspect-ratio: 1/1;
}

img {
    max-width: 100%;
    max-height: 100%;
}

.slider-image {
    width: 100%;
    cursor: pointer;
    border-radius: 8px;
}

.selected-slider-image {
    max-width: 90%;
    max-height: 90%;
}

.article-card-image {
    width: 100%;
    max-height: 80%;
    object-fit: cover;
    aspect-ratio: 4 / 3;
}

.card-image {
    width: 100%;
    max-height: 100%;
    border-radius: 6px;
    object-fit: cover;
    aspect-ratio: 4 / 3;
}

/* ============================================================================================
TABLET VERSION
=============================================================================================== */

@media screen and (min-width: 768px) {

    .card-image {
        min-width: 150px;
        max-width: 300px;
        width: 35%;
        max-height: 100%;
    }
}