.avatar {
    border: 2px solid var(--color-primary);
    border-radius: 50%;
    aspect-ratio: 1/1;
}

img {
    max-width: 100%;
    max-height: 100%;
}

.slider-image {
    width: 100%;
    cursor: pointer;
    border-radius: 8px;
}

.selected-slider-image {
    max-width: 90%;
    max-height: 90%;
}