.card {
    position: relative;
    border: 1px solid #e0e0e0;
    border-radius: 8px;
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    transition: box-shadow 0.3s ease;
}

.card:hover {
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.card-details {
    align-self: flex-start;
    width: 100%;
    height: 100%;
}

.card-details p {
    display: -webkit-box;
    box-orient: vertical;
    -webkit-box-orient: vertical;
    line-clamp: 3;
    -webkit-line-clamp: 3;
    overflow: hidden;
    text-overflow: ellipsis;
}

.card-actions {
    display: flex;
    gap: 1rem;
    margin-top: 1rem;
}

/* ============================================================================================
TABLET VERSION
=============================================================================================== */

@media screen and (min-width: 768px) {

    .card {
        flex-direction: row;
        align-items: stretch;
    }

    .card-actions {
        justify-content: flex-end;
        position: absolute;
        bottom: 1.5rem;
        right: 1.5rem;
        gap: 1rem;
    }

    .card-details {
        padding-bottom: 6rem;
        width: 65%;
    }

    .owner-card .card-details,
    .renter-card .card-details {
        width: 100%;
    }
}