.article-card {
    position: relative;
    width: 100%;
    background: white;
    border-radius: 15px;
    overflow: hidden;
    text-overflow: ellipsis;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}

.article-card:hover {
    transform: translateY(-5px);
}

.article-card-body {
    padding: 1.5rem;
}

.article-card-content {
    margin-bottom: 3.5rem;
}

.article-card a {
    position: absolute;
    bottom: 0;
    margin-bottom: 2rem;
    color: var(--primary-color);
}

.article-card h3 {
    margin-top: 0;
    color: var(--primary-color);
}

/* ============================================================================================
DESKTOP VERSION
=============================================================================================== */

@media screen and (min-width: 1024px) {

    .article-card {
        width: 30%;
    }

}