@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');

/* ============================================================================================
VARIABLES
=============================================================================================== */

:root {
    --primary-color: #3498db;
    --primary-color-rgb: 52, 152, 219;
    --primary-color-darked: #2980b9;
    --secondary-color: #2ecc71;
    --secondary-color-darked: #25A158;
    --danger-color: #de4838;
    --danger-color-darked: #B0392C;
    --text-color: #333;
    --bg-color: #f8f9fa;
    --bg-color-secondary: #f1f3f5;
    --active-color: #e9ecef;
    --message-received-color: rgba(52, 152, 219, 0.3);
    --message-sent-color: rgba(46, 204, 113, 0.3);
    --font-size-logo: 3rem;
    --font-size-nav-sm: 2.4rem;
    --font-size-nav-md: 1.6rem;
    --font-size-nav-lg: 2rem;
    --font-size-h1-sm: 3.2rem;
    --font-size-h1-lg: 4rem;
    --font-size-h2-sm: 2.6rem;
    --font-size-h2-lg: 3.2rem;
    --font-size-h3-sm: 2rem;
    --font-size-h3-lg: 2.4rem;
    --font-size-h2-sm-dialog: 2rem;
    --font-size-h3-sm-dialog: 1.4rem;
    --font-size-text-sm-dialog: 1rem;
    --font-size-body-sm: 1.4rem;
    --font-size-body-md: 1.6rem;
    --font-size-body-lg: 1.8rem;
    --font-weight-logo: 800;
    --font-weight-icon-after: 700;
    --font-weight-title: 600;
    --font-weight-body: 400;
    --font-weight-other: 500;
}

/* ============================================================================================
TOOLS
=============================================================================================== */

* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-size: var(--font-size-body-sm);
    padding: 0;
    margin: 0;
}

/* ============================================================================================
GENERALITIES
=============================================================================================== */

body,
html {
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
    color: var(--text-color);
    background-color: var(--bg-color);
}

h1 {
    font-size: var(--font-size-h1-sm);
    font-weight: var(--font-weight-title);
    color: var(--primary-color);
}

h2 {
    font-size: var(--font-size-h2-sm);
    font-weight: var(--font-weight-title);
    color: var(--primary-color);
    margin-bottom: 2rem;
}

h3 {
    font-size: var(--font-size-h3-sm);
    font-weight: var(--font-weight-title);
    color: var(--primary-color);
    margin-bottom: 1.5rem;
}

a {
    text-decoration: none;
    color: inherit;
    position: relative;
}

a.text-link {
    color: var(--primary-color);
}

a::after {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    bottom: -5px;
    left: 0;
    background-color: var(--primary-color);
    transition: width 0.3s ease;
}

a.text-link::after {
    display: none;
}

a:hover::after {
    width: 100%;
}

a:hover {
    text-decoration: none;
}

a.text-link:hover {
    text-shadow: 0 0 5px rgba(var(--primary-color-rgb), 0.5);
}

img {
    max-width: 100%;
}

strong {
    font-weight: bold;
}

/* ============================================================================================
VARIOUS
=============================================================================================== */



/* ============================================================================================
TABLET VERSION
=============================================================================================== */

@media screen and (min-width: 768px) {

    body {
        font-size: var(--font-size-body-md);
    }
}

/* ============================================================================================
DESKTOP VERSION
=============================================================================================== */

@media screen and (min-width: 1024px) {

    body {
        font-size: var(--font-size-body-lg);
    }

    h1 {
        font-size: var(--font-size-h1-lg)
    }

    h2 {
        font-size: var(--font-size-h2-lg)
    }

    h3 {
        font-size: var(--font-size-h3-lg)
    }
}