.button-app {
    background-color: var(--primary-color);
    color: white;
    border: none;
    padding: 0.75rem 2rem;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    align-self: center;
    font-family: inherit;
    width: 100%;
}

.button-app:hover {
    background-color: var(--primary-color-darked);
}

/* ============================================================================================
DESKTOP VERSION
=============================================================================================== */

@media screen and (min-width: 1024px) {

    .button-app {
        width: auto;
    }
}