.button-app {
    color: white;
    border: none;
    padding: 0.75rem 2rem;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    align-self: center;
    font-family: inherit;
    width: 100%;
}

.primary-button {
    background-color: var(--primary-color);
}

.primary-button:hover {
    background-color: var(--primary-color-darked);
}

.secondary-button {
    background-color: var(--secondary-color);
}

.secondary-button:hover {
    background-color: var(--secondary-color-darked);
}

.danger-button {
    background-color: var(--danger-color);
}

.danger-button:hover {
    background-color: var(--danger-color-darked);
}

.disabled-button {
    background-color: var(--disabled-color);
    pointer-events: none;
}

.disabled-button:hover {
    background-color: var(--disabled-color);
    cursor: default;
}

/* ============================================================================================
DESKTOP VERSION
=============================================================================================== */

@media screen and (min-width: 1024px) {

    .button-app {
        width: auto;
    }
}