.profile-page .content {
    width: 100%;
}

.profile-page h2 {
    color: inherit;
}

.card-list {
    margin-top: 2rem;
    gap: 1.5rem;
    display: flex;
    flex-direction: column;
}

.card-filter {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;
    margin: 1rem 0;
}

.card-filter a {
    cursor: pointer;
    font-weight: bold;
}

.card-filter a.active,
.card-filter a:hover {
    color: var(--primary-color);
    text-shadow:
        0px 0px 10px rgba(var(--primary-color-rgb), 0.4),
        /* Ombre principale */
        0px 0px 20px rgba(var(--primary-color-rgb), 0.3),
        /* Effet diffus */
        0px 0px 30px rgba(var(--primary-color-rgb), 0.1);
}

.card-filter a:hover::after {
    display: none;
}

.extra-title {
    margin-top: -1.5rem;
}

.button-group {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: space-between;
}

/* ============================================================================================
TABLET VERSION
=============================================================================================== */

@media screen and (min-width: 768px) {

    .page.profile-page {
        justify-content: space-between;
    }

    .profile-page .content {
        width: 68%;
    }

    .card-filter {
        gap: 3rem;
    }
}

/* ============================================================================================
DESKTOP VERSION
=============================================================================================== */

@media screen and (min-width: 1024px) {
    .profile-page .content {
        width: 75%;
    }

    .button-group {
        flex-direction: row;
    }
}