.admin-page .content {
    width: 100%;
}

.admin-page h2 {
    color: inherit;
}

.extra-title {
    margin-top: -1.5rem;
}

.button-group {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: space-between;
}

/* ============================================================================================
TABLET VERSION
=============================================================================================== */

@media screen and (min-width: 768px) {

    .page.admin-page {
        justify-content: space-between;
    }

    .admin-page .content {
        width: 68%;
    }
}

/* ============================================================================================
DESKTOP VERSION
=============================================================================================== */

@media screen and (min-width: 1024px) {
    .admin-page .content {
        width: 75%;
    }

    .button-group {
        flex-direction: row;
    }
}